Source: cpio
Section: utils
Priority: important
Maintainer: Anibal Monsalve Salazar <anibal@debian.org>
Uploaders: Chris Lamb <lamby@debian.org>
Build-Depends: debhelper-compat (= 13), texinfo, gettext
Standards-Version: 4.7.0
Homepage: https://www.gnu.org/software/cpio/
Vcs-Git: https://salsa.debian.org/lamby/pkg-cpio.git
Vcs-Browser: https://salsa.debian.org/lamby/pkg-cpio
Rules-Requires-Root: no

Package: cpio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: cpio-mt
Conflicts: mt-st (<< 0.6), cpio-mt
Multi-Arch: foreign
Suggests: libarchive-dev
Description: GNU cpio -- a program to manage archives of files
 GNU cpio is a tool for creating and extracting archives, or copying
 files from one place to another.  It handles a number of cpio formats
 as well as reading and writing tar files.
